h1 {
    color: red; 
}

h2 {
    color: gray;
    text-decoration: underline;
    
}

p{
    font-style: italic;
}
.naranja {
    color: rgb(173, 113, 0);
}

.link1 {
    text-decoration: none;
    color: rgb(153, 0, 255);
    font-size: large;

}

.link1:hover{
    text-decoration: underline;
    color: red;
    font-size: x-large;
}

.link2 {
    text-decoration: none;
    color: rgb(0, 4, 255);
    font-size: large;
}

.link2:hover{
    text-decoration: underline;
    color: red;
    font-size: x-large;
}