h1{
    color: red;
}

h2{
    color: gray;
}

h2 ~ h2{
    color: rgb(68, 67, 67);
}

h2 ~ h2 ~ h2{
    color: rgb(48, 48, 48);
}

h2 ~ h2 ~ h2 ~ h2{
    color: black
}

.naranja{
    background-color: green;
    color: rgb(204, 201, 201);
}

.blue{
    background-color: aqua;
    color: blue;
}

.green {
    background-color: greenyellow;
    color: green;
}

.red {
    background-color: red;
    color: yellowgreen
}

a:visited {
    background-color: blueviolet;

}

li ~ li ~ li {
    background-color: green;
    color: rgb(207, 207, 207);
}

li ~ li ~ li ~ li {
    background-color: aqua;
    color: blue;
}

li ~ li ~ li ~ li ~ li {
    background-color: red;
    color: greenyellow;
}

li ~ li ~ li ~ li ~ li ~ li {
    background-color: greenyellow;
    color: green;
}

li a {
    text-transform: uppercase;
}